.promo {
	width: 100%;
	height: 900px;
	display: grid;
	grid-template-rows: 1fr 460px 70px;
	grid-template-columns: fit-content(45%) 1fr fit-content(100%);
	justify-content: stretch;

	@media screen and (max-width: 1600px) {
		height: 633px;
		grid-template-rows: 1fr 330px 70px;
	}

	&__potter {
		grid-area: 1 / 1 / 4 / 1;
		height: 100%;
		width: auto;
	}

	&__header {
		grid-area: 1 / 2;
	}

	&__title {
		grid-area: 2 / 2; 
		margin: auto 10px 0 auto;
		text-align: right;
	}

	&__vase {
		grid-area: 2 / 3; 
		height: 460px;
		width: auto;

		animation-name: slideIn;
		animation-duration: 2s;
		animation-fill-mode: forwards;

		@media screen and (max-width: 1600px) {
			height: 320px;
		}
	}

	&__btn {
		grid-area: 3 / 3;
		margin: 0;
		margin-top: auto;
		width: 100%;

		animation: slideIn 1s ease-in-out forwards;
	}

	@media screen and (max-width: 800px) {
		width: min(1680px, 100vw);
		height: 650px;
		display: grid;
		grid-template-rows: 250px 1fr 70px;
		grid-template-columns: 1fr fit-content(100%);
		justify-content: stretch;

		&__potter {
			display: none;
		}

		&__header {
			grid-area: 1 / 1 / 1 / 3;
		}

		&__icons {
			grid-area: 1 / 3;
		}

		&__vase {
			height: 460px;
			width: auto;
			grid-area: 2 / 2; 
		}

		&__title {
			grid-area: 2 / 1; 
			margin: auto 10px 0 auto;
			text-align: left;
		}

		&__btn {
			grid-area: 3 / 2;
			margin: 0;
			margin-top: auto;
			width: 100%;
		}
	}

	@media screen and (max-width: 400px) {
		display: block;

		&__potter {
			display: none;
		}

		&__header {
			margin-top: 50px;
		}

		&__title {
			margin: 50px auto 0;
			text-align: center;
		}

		&__vase {
			margin: 40px auto 0;
			height: 377px;
			width: auto;
		}

		&__btn {
			margin: 18px auto 0;
			width: 60%;
		}
	}

	@keyframes slideIn {
		from {
			transform: translateX(300%)
		}
		to {
			transform: translateX(0);
		}
	}
}
