@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.btn-default {
	@include button;
	height: 50px;
	font-size: 20px;

	&:hover {
		background-color: $dark; 
		color: #FFFFFF;
		border-color: $dark;
	}

	&:active {
		background-color: #F5F5F5; 
		color: $dark;
		border-color: $dark;
		box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
	}
}
